<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="./static/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./static/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./static/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="./static/favicon_io/site.webmanifest">
    <title>CropVisison</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar fixed navbar-light" id="navbar">
      <div class="container-fluid px-xl-5 ">
        <a class="navbar-brand fs-2 fw-bold text" href="#navbar"><img src = "./static/favicon_io/favicon.ico"/>Crop<span style="color: green;">Vision</span></a>
        <button class="btn btn-success rounded-2 me-2" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button">Take Survey &#8594</button>
      </div>
  </nav>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="row flex-lg-row align-items-center">
          <div class="col-lg-6">
            <img src="./static/images/unsplash-photo-2.jpg" class="img-fluid">
          </div>
          <div class="col-10 col-sm-8 col-lg-6">
            <div class="modal-header p-5 pb-4 border-bottom-0">
              <h1 class="fw-bold mb-0 fs-2">Welcome to Crop<span style="color: green;">Visison</span></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-5 pt-0">
              <form class="" method="POST" action="./survey.html">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control rounded-3" name="name" required id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Name</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="email" class="form-control rounded-3"  required name="email" id="floatingEmail" placeholder="name@example.com">
                  <label for="floatingEmail">Email address</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="age" required id="floatingAge" placeholder="Age">
                  <label for="floatingAge">Age</label>
                </div>
                <button class="w-100 mb-2 btn btn-lg rounded-3 btn-outline-success" method="submit" type="submit">Start</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Jumbotron -->
  <div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-5">
      <div class="row flex-lg-row align-items-center g-5 py-5">
        <div class="col-lg-6">
          <h1 class="display-6 fw-bold lh-1 mb-3">Maximize Your Crop Potential with the Expertise of Crop Prediction</h1>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
          <p class="col-lg-10 fs-4">At CropVision, we are dedicated to providing farmers and agricultural experts with cutting-edge technology for crop prediction.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button">Take Survey &#8594</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Features -->
  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Our Services</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('./static/images/farm2.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="py-5 mt-2 mb-4 display-7 lh-2 fw-bold">Crop forecasting</h3>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('./static/images/unsplash-photo-2.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="py-5 mt-2 mb-4 display-7 lh-2 fw-bold">Pest and crops disease management    (Comming Soon)</h3>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('./static/images/unsplash-photo-3.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h3 class="py-5 mt-2 mb-4 display-7 lh-2 fw-bold">Fertilisers Recommendation  (Comming Soon)</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Heroes -->
  <section style="background-color: lightgoldenrodyellow; background-image: url('./static/images/hero-wave.png');">
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6 ">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('./static/images/farm1.jpg');">
            <div class="d-flex flex-column h-150 p-5 pb-3 text-white text-shadow-1">
              <h3 class="py-5 my-5 mb-4 display-6 lh-2 fw-bold">Hang onto CropVision to develop your future.</h3>
            </div>
          </div>  
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">User-Friendly and Confident</h1>
          <p class="lead">Our user-friendly platform allows farmers to quickly and easily access their predictions, making it easy to integrate into their daily decision-making process.With us, farmers can feel confident that they have the information they need to make informed decisions and drive their success.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer class="bottom pt-2 mt-2">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2023 CropVision, Inc</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>